In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SPY.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,25.029371,1003200
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,25.207384,480500
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,25.260788,201300
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,25.527826,529400
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,25.634632,531500
...,...,...,...,...,...,...,...
7694,2023-08-21,437.549988,440.109985,435.320007,439.339996,439.339996,68719000
7695,2023-08-22,441.179993,441.179993,437.570007,438.149994,438.149994,65062900
7696,2023-08-23,439.250000,443.670013,439.100006,443.029999,443.029999,68441000
7697,2023-08-24,444.690002,445.220001,436.859985,436.890015,436.890015,88517300
7698,2023-08-25,438.679993,441.299988,435.000000,439.970001,439.970001,102297000

In [3]:
df = df['Close'].mean()

In [5]:
print(df)

167.36420178049096